.message-items
  .message-items__top-items
    .message-items__top-items__name
      = message.user.name
    .message-items__top-items__time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-items__message
    - if message.body.present?
      %p.message-items__message__content
        = message.body
    = image_tag message.image.url, class: '.message-items__image' if message.image.present?