.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to "#", class:"edit-icon" do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user), class:"cog-icon"  do
          %i.fa.fa-cog
  .side-bar__group-list
    .group-list-items
      .group-list-items__name
        techexpert
      .group-list-items__message
        まだメッセージがありません
    .group-list-items
      .group-list-items__name
        techecamp
      .group-list-items__message
        まだメッセージがありません2